In [2]:
import sqlite3
import pandas as pd
from pathlib import Path
import os
pd.set_option('display.max_colwidth', 150)
pd.set_option('display.max_rows', 100)

In [3]:
db_folder = Path("../data") if Path.cwd().name == "notebooks" else Path("./data")
DB_FILE = db_folder / "desabafos_data.db"

In [4]:
conn = sqlite3.connect(DB_FILE)

In [5]:
query = "SELECT * FROM processed_posts where post_id = '1jpc4jk'"
df_latest_posts = pd.read_sql_query(query, conn)
display(df_latest_posts) # display() is preferred in Jupyter for rich output

,id,post_id,post_url,post_title,post_body,created_utc,processed_at
0,10,1jpc4jk,https://www.reddit.com/r/desabafos/comments/1jpc4jk/crise_existencial/,Crise existencial,"Hoje foi realmente um dia daqueles, e depois de um dia tão ruim resolvi assistir grey's anatomy e sai com uma grande crise existencial. A escolha ...",2025-04-02 01:01:03+00:00,2025-04-02 01:07:26

In [6]:
query = "SELECT * FROM llm_data  where post_id = '1jpc4jk'"
df_latest_posts = pd.read_sql_query(query, conn)
display(df_latest_posts) # display() is preferred in Jupyter for rich output

,id,post_id,input_prompt,llm_response,created_at
0,1,1jpc4jk,"\n O seguinte post foi feito no subreddit r/desabafos. Por favor, leia o título e o corpo do post e forneça um conselho ou uma perspectiva útil...","Oi! Primeiro, quero que saiba que é completamente normal passar por crises existenciais, especialmente em momentos de reflexão profunda, como o qu...",2025-04-02 01:07:26

In [7]:
query = "SELECT * FROM post_comments  where post_id = '1jpc4jk'"
df_latest_posts = pd.read_sql_query(query, conn)
display(df_latest_posts) # display() is preferred in Jupyter for rich output

Empty DataFrame
Columns: [id, post_id, comment_id, comment_body, comment_score, comment_rank, is_actual_advice, similarity_score, fetched_at]
Index: []